.oo {color: rgb(0, 0, 0);}
  
 body { 
    background: #333;
 }

   .inputname{background-color: darkgray;

} 


p {background-color: rgb(104, 104, 104);  
    font-size: 30px;  color: black;
     text-align: center; 
}
   

        .bb {color: rgb(10, 10, 9); 
        
        }
       
       
       
       
        .cent{
         text-align: center; /* Horizontally center-align the container */
         margin-top: 50px;   /* Adjust the top margin as needed to vertically center-align the table */
     }
     
     
     /* Optional: Style table cells, headers, etc. */
     table td, table th {
         border: 1px solid #333; /* Add borders to table cells */
         padding: 8px;
         text-align: left;
     }
     
     table th {
         background-color:rgb(255, 137, 2); /* Add background color to table headers */
     }
     
     
     
     
     .bb{
        text-align: center; /* Horizontally center-align the container */
      
        
            
            font-size: 40px; 
      
        margin-top: 50px;   /* Adjust the top margin as needed to vertically center-align the heading */
    } 
.date
{
    border-collapse: collapse; /* Combine table borders into one */
    width: 100%; /* Adjust the table width as needed */
}

a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.printt { display: inline-block;
    width: 3rem;
    height: 3rem;
    background: #fff6  center / 80% no-repeat;
    border-radius: 600%;
    transition: .2s ease-in-out;
    }
    
        .printt:hover{
            transform: scale(1.05);
            background-color: #f58300;
            cursor: pointer;
        }
        body {
            min-height: 100vh;
            background:  center / cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }
