
header {
    background-color: #333;
    color: bisque;
    text-align: center;
    padding: 20px; 
}
   
.oo {color: gold;}
  
 

   .inputname{background-color: #ffb6b9

} 



    p {background-color: rgb(255, 123, 0); 
        font-size: 19px;}

        .bb {color: bisque; 
        
        }
        
   

  
